/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/vendor
/mobile/
/tmp/
/output/
/.playwright-cli/
codemagic.yaml
temp_banner.txt
/storage/*.key
.env
.env.*
!.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vendor/srmklive/paypal/tests/Mocks/samples
public/uploads/media/
*.zip
_tmp*
service_*.json
armut_*.js
armut_*.html
armut_*.json
